Skip to content Search or jump to… Pull requests Issues Codespaces Marketplace Explore @mbkdev60 inpulse-tv / ep24-React-By-Practice Public Fork your own copy of inpulse-tv/ep24-React-By-Practice Code Issues Pull requests Actions Projects Security Insights ep24-React-By-Practice/src/styles/mixins.less @cyrille-lidev cyrille-lidev add react project Latest commit 88f6799 on Feb 8,
2022 History 1 contributor 41 lines (33 sloc) 955 Bytes @import "variables";

.getBackground(@url) {
    @media @smartphone {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(50, 20, 20, 1)), url(@url);
    }

    @media @tablette,
    @laptop {
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(50, 200, 200, 0.8)), url(@url);
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.bg {
    &-vegan {
        .getBackground("https://s3.inpulse.tv/soja.jpg");
    }

    &-pas-vegan {
        .getBackground("https://s3.inpulse.tv/poulet.jpg");
    }

    &-viandard-sensible {
        .getBackground("https://s3.inpulse.tv/blanc_de_poulet_roti.jpg");
    }
}

.generate-h(@n, @i: 1) when (@i =< @n) {
    h@{i} {
        font-family: 'Dosis', sans-serif;
        font-weight: (800 / pow(2, @i - 1));
        font-size: (3em - ((@i - 1) * 0.5));
    }

    .generate-h(@n, (@i + 1));
}

Footer © 2023 GitHub,
Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About ep24-React-By-Practice/mixins.less at main · inpulse-tv/ep24-React-By-Practice